@model Examen.ApplicationCore.Domain.Menu

@{
    ViewData["Title"] = "CreateMenu";
}

<h1>CreateMenu</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMenu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlDescription" class="control-label"></label>
                <input asp-for="HtmlDescription" class="form-control" />
                <span asp-validation-for="HtmlDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserID" class="control-label"></label>
                <input asp-for="ApplicationUserID" class="form-control" />
                <span asp-validation-for="ApplicationUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
